body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* Agrandir les champs de saisie et le bloc de connexion/inscription */
#loginPage,
#signupPage {
  width: 400px;
  border: 3px solid black;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#loginPage input,
#signupPage input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form {
  display: grid;
  background-color: #8186f9;
  border: 5px solid blue;
  grid-template-columns: repeat(2, 1fr);
  /* Deux colonnes pour les écrans plus grands */
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 7px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
}

/* Cibler les boutons des formulaires de connexion et d'inscription */
#loginForm button,
#signupForm button {
  font-size: 14px;
  /* Réduire la taille de la police */
  padding: 8px 16px;
  /* Réduire le padding */
}


/* Ajout de styles pour les boutons */
.button-container {
  margin-top: 20px;
  /* Espacement au-dessus des boutons */
}

.button-container button {
  margin-right: 30px;
  /* Espacement entre les boutons */
}

#ajouterBtn {
  margin-bottom: 30px;
  /* Espacement sous le bouton "Ajouter" */
}

table {
  width: 95%;
  /* Réduit la largeur du tableau à 95% */
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  /* Centre le tableau horizontalement */
  margin-right: 20px;
}

th,
td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #8186f9;
  text-align: center;
}

/* Cacher les sections par défaut */
#detailsSection,
#tendancesSection,
#analysesSection,
#debiteursSection,
#stocksSection {
  display: none;
}

/* Style pour la barre de chargement */
#loadingBar {
  width: 0%;
  height: 5px;
  background-color: green;
  transition: width 0.5s ease-in-out;
}

/* Media Queries pour les smartphones */
@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
    /* Une seule colonne pour les smartphones */
    gap: 15px;
}

input[type="text"],
  input[type="number"],
  select,
  input[type="date"] {
    padding: 18px;
    /* Augmentation significative du padding */
    font-size: 16px;
    height: 35px;
  }

  /* Assurer que le champ de type "date" est suffisamment grand */
  input[type="date"] {
    -webkit-appearance: none;
    /* Supprimer l'apparence par défaut */
    -moz-appearance: none;
    appearance: none;
    height: 35px;
    /* Hauteur fixe pour le champ de date */
  }

  .button-container button {
    padding: 12px 24px;
    /* Augmentation du padding des boutons */
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
  }

  table {
    font-size: 14px;
    /* Réduire la taille de la police du tableau */
    width: 100%;
    /* Ajustement de la largeur du tableau pour les smartphones */
  }

  th,
  td {
    padding: 6px;
    /* Réduire le padding des cellules du tableau */
  }
}

/* Supprimer les flèches de spin pour les champs de type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Style pour le numéro de téléphone en rouge si RAP > 0 */
#produitTable td:nth-child(21) {
  /* Sélectionne la 21ème colonne (Numéro de Téléphone) */
  color: black;
  /* Couleur de base en noir */
}

#produitTable tbody tr td:nth-child(21) {
  /* Sélectionne la 21ème colonne dans le corps du tableau */
  color: red;
  /* Couleur rouge si RAP > 0 */
}

/* Style pour le numéro de téléphone en noir si RAP = 0 */
#produitTable tbody tr td:nth-child(21):not([data-rap-status="red"]) {
  color: black;
}

/* Style pour les boutons de navigation */
.button-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  background-color: #28bc28;
  padding: 10px;
  border-radius: 10px;
}

.button-navigation button {
  background-color: blue;
  width: 100%;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
}

/* Style pour les lignes séparatrices des mois */
#produitTable tbody tr.separateur-mois {
  /* Sélectionne les lignes avec la classe "separateur-mois" */
  border-top: 5px solid green;
  /* Ajoute une barre verte épaisse en haut de la ligne */
}

/* Styles pour les icônes de suppression et de modification */
.icon-container {
  display: flex;
  gap: 15px;
  /* Augmentation de l'espace entre les icônes */
}

.icon {
  cursor: pointer;
  font-size: 1.5em;
  /* Ajustez la taille de l'icône si nécessaire */
}

.icon-delete {
  color: red;
}

.icon-edit {
  color: blue;
}

/* Style pour la fenêtre flottante */
.modal {
  display: none;
  /* Caché par défaut */
  position: fixed;
  /* Reste en place */
  z-index: 1;
  /* S'affiche au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  /* Pleine largeur */
  height: 100%;
  /* Pleine hauteur */
  overflow: auto;
  /* Active la barre de défilement si nécessaire */
  background-color: rgba(0, 0, 0, 0.4);
  /* Fond noir avec opacité */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* Centre la fenêtre */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Pourrait être plus petit, adaptez si besoin */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styles pour les icônes de tri */
.sort-icon {
  cursor: pointer;
  margin-left: 5px;
}

/* Style pour la barre de recherche */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.search-bar button {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

/* Style pour les sélecteurs de période */
#anneeSelect,
#moisSelect,
#semaineSelect {
  display: none;
  /* Masquer par défaut */
  margin-left: 10px;
}

/* Style pour l'affichage de la période sélectionnée */
#periodeSelectionnee {
  background-color: #4cae4c;
  /* Vert */
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Style pour la ligne total */
.total-row {
  font-weight: bold;
}

/* Style pour la fenêtre flottante de modification des stocks */
#editStockModal {
  display: none;
  /* Caché par défaut */
  position: fixed;
  /* Reste en place */
  z-index: 1;
  /* S'affiche au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  /* Pleine largeur */
  height: 100%;
  /* Pleine hauteur */
  overflow: auto;
  /* Active la barre de défilement si nécessaire */
  background-color: rgba(0, 0, 0, 0.4);
  /* Fond noir avec opacité */
}

#editStockModal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* Centre la fenêtre */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Pourrait être plus petit, adaptez si besoin */
}

/* Espacement des boutons */
.payment-button {
  margin-right: 10px;
  /* Ajustez la valeur pour l'espacement souhaité */
}

/* Styles pour les pages de connexion et d'inscription */
#loginPage,
#signupPage {
  width: 700px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style pour le bouton Exporter vers Excel */
h2 button {
  background-color: #4CAF50;
  /* Vert */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}