body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #10e7e0; /* Couleur de fond du corps */
}

h1,
h2 {
  color: #333; /* Couleur du texte des titres */
  text-align: center;
}

.form-container {
  background-color: #fff; /* Couleur de fond des conteneurs de formulaire */
  padding: 20px;
  border: 5px solid #ddd; /* Bordure des conteneurs de formulaire */
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre des conteneurs de formulaire */
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de même largeur */
  gap: 10px; /* Espacement entre les colonnes */
  margin-bottom: 10px; /* Espacement entre les lignes */
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-container input,
.form-container select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc; /* Bordure des champs de formulaire */
  border-radius: 5px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
button {
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ddd; /* Bordure des champs de formulaire */
  border-radius: 3px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd; /* Bordure des cellules du tableau */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Couleur de fond des en-têtes de tableau */
}

.centered {
  text-align: center;
}

.centered-button {
  display: inline-block; /* Modification pour aligner les boutons */
  margin: 10px 5px; /* Marge réduite pour les boutons, espacement horizontal */
  padding: 10px 20px;
  background-color: #0eb808; /* Couleur de fond des boutons */
  color: white; /* Couleur du texte des boutons */
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre des boutons */
}

#tableContainer,
#reservationsContainer,
#retoursContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#dataTable img,
#reservationTable img,
#retourTable img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  cursor: pointer;
}

.image-column {
  width: 150px;
}

/* Styles pour les icônes d'édition et de suppression */
.edit-icon,
.delete-icon {
  cursor: pointer;
  margin-right: 5px;
  display: none;
}

/* Styles pour la fenêtre modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Marge ajustée pour une meilleure visibilité sur mobile */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Largeur ajustée pour une meilleure adaptation */
  max-width: 500px; /* Largeur maximale pour éviter un contenu trop large */
  box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.edit-icon {
  color: blue;
}

.delete-icon {
  color: red;
}

#editForm {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

#editForm .form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

#editForm .form-group label {
  display: block;
  margin-bottom: 5px;
}

#editForm .form-group input,
#editForm .form-group select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#editForm .form-group:nth-child(5) {
  grid-column: span 2;
}

/* Styles pour la ligne de séparation des mois */
.month-separator {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

/* Styles pour la ligne d'erreur */
.error-row {
  background-color: #fdd;
  color: red;
  font-weight: bold;
}

/* Styles pour la barre d'en-tête */
#headerBar {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
  text-align: right;
  font-weight: bold;
  display: flex; /* Permet d'aligner le logo et le texte */
  align-items: center; /* Aligner verticalement les éléments */
}

#headerLogo {
  height: 50px; /* Ajuster la hauteur du logo */
  margin-right: 20px; /* Espace entre le logo et le texte */
}

#headerBar span {
  margin-left: 50px;
}

/* Styles pour la fenêtre modale d'image agrandie */
.image-modal {
  display: flex; /* Utiliser flexbox pour centrer l'image */
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.image-modal img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  cursor: zoom-out; /* Curseur zoom-out pour indiquer le zoom arrière */
}

.close-image-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close-image-modal:hover,
.close-image-modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Styles pour les écrans de smartphone */
@media screen and (max-width: 600px) {
  .form-row {
    grid-template-columns: 1fr;
  }

  #dataTable,
  #reservationTable,
  #retourTable {
    font-size: 12px; /* Réduire la taille de la police davantage */
  }

  #dataTable th,
  #dataTable td,
  #reservationTable th,
  #reservationTable td,
  #retourTable th,
  #retourTable td {
    padding: 5px;
  }

  #dataTable img,
  #reservationTable img,
  #retourTable img {
    max-width: 50px;
    max-height: 50px;
  }

  .modal-content {
    width: 95%;
  }

  #headerBar {
    text-align: center; /* Centrer le texte sur les petits écrans */
    flex-direction: column; /* Empiler le logo et le texte */
  }

  #headerLogo {
    margin-right: 0; /* Supprimer la marge droite du logo */
    margin-bottom: 10px; /* Ajouter une marge inférieure au logo */
  }

  #headerBar span {
    margin-left: 0; /* Supprimer la marge gauche du texte */
  }
}

/* Styles pour le conteneur des boutons */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Permettre aux boutons de s'enrouler sur plusieurs lignes si nécessaire */
}

.button-container button {
  margin: 5px; /* Espace entre les boutons */
}

/* Styles pour les champs de saisie avec "F CFA" en dessous */
#price + #formattedPrice,
#advanceAmount + #formattedAdvance,
#montantAjoute + #formattedMontantAjoute,
#editPrice + #editFormattedPrice,
#editAdvanceAmount + #formattedEditAdvance,
#editMontantAjoute + #formattedEditMontantAjoute,
#advanceAmount + #formattedModalAdvance,
#trancheAmount + #formattedTrancheAmount {
  display: block; /* Afficher le span en tant que bloc */
  margin-top: 5px; /* Espace entre le champ et le texte formaté */
  font-size: 14px; /* Taille de la police du texte formaté */
  color: #555; /* Couleur du texte formaté */
}

/* Style pour la ligne sélectionnée dans le tableau des réservations */
#reservationTable tr.selected {
  background-color: lightblue; /* Couleur de fond pour la ligne sélectionnée */
}
